
  .noquestion-container{
    padding:180px;
    text-align: center;
    color:white;
    background-color: $b-color1;
    font-size: 40px;
    font-weight:900;
  }
  
  .go-back-link{
    margin-top:20px;
    font-size: 16px;
    font-weight: normal;
    color:white;
    cursor:pointer;
  }